/* abstracts */
/* base */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: "Lato", sans-serif !important; }

.heading-secondary {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(to right bottom, #5352ed, #f84f11);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
  letter-spacing: 0.2rem; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.2);
    text-shadow: 0.5rem 1rem 2rem rgba(83, 82, 237, 0.3); }

/* components*/
.cbtn, .cbtn:link, .cbtn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.2rem 1.8rem;
  display: inline-block;
  border-radius: 8rem;
  transition: all 0.2s;
  position: relative;
  -webkit-box-shadow: 0 5px 2px rgba(248, 79, 17, 0.5);
  -moz-box-shadow: 0 5px 2px rgba(248, 79, 17, 0.5);
  box-shadow: 0 5px 3px rgba(248, 79, 17, 0.5);
  transform: scaleX(0.98) scaleY(0.98) translateY(-0.3rem);
  border: none;
  cursor: pointer; }
.cbtn__icon-white {
  background-color: #fff;
  color: #f84f11;
  animation: moveInBottom 1s ease-out 0.1s;
  animation-fill-mode: backwards; }
  .cbtn__icon-white:hover {
    transform: translateY(-0.3rem) scaleX(1) scaleY(1); }
    .cbtn__icon-white:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
.cbtn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(248, 79, 17, 0.3); }
  .cbtn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }
.cbtn-primary {
  background-image: linear-gradient(to right bottom, #5352ed, #f84f11);
  color: #fff;
  width: 65%;
  font-size: 1rem;
  word-spacing: 2px;
  animation: moveInBottom 1s ease-out 0.1s;
  animation-fill-mode: backwards; }
  .cbtn-primary::after {
    background-image: linear-gradient(to right bottom, #5352ed, #f84f11); }
.cbtn--green {
  background-image: linear-gradient(to right bottom, green, red, yellow);
  color: #fff;
  font-size: 1.4rem;
  word-spacing: 2px;
  animation: moveInBottom 1s ease-out 0.1s;
  animation-fill-mode: backwards; }
  .cbtn--green::after {
    background-color: #fff; }
.cbtn:active, .cbtn:focus {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); }
.cbtn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }
.cbtn-text:link, .cbtn-text:visited {
  color: #f84f11;
  background-color: #fff;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #f84f11;
  font-size: 0.8rem; }
.cbtn-text:hover {
  border-bottom: 3px solid #f84f11;
  box-shadow: 0 1rem 2rem rgba(248, 79, 17, 0.15);
  transform: translateY(-2px); }
.cbtn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(248, 79, 17, 0.15);
  transform: translateY(0); }

.ion-logo {
  font-size: 1.4rem;
  color: #f84f11;
  text-align: center; }

.ccard {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 32rem;
  display: block;
  margin: 0 auto;
  text-align: center; }
  .ccard__side {
    background-color: #fff;
    color: #eeeff0;
    font-size: 2.5rem;
    height: 32rem;
    margin: 4rem auto;
    transition: all 0.8s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: 0 1.5rem 4rem rgba(248, 79, 17, 0.3); }

.forgot {
  display: bock;
  margin: 0 auto; }

.form__group:not(:last-child) {
  margin-bottom: 0.7rem; }
.form__input {
  font-size: 1rem;
  color: #192a56;
  font-weight: 400;
  padding: 0.7rem 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  font-family: "Lato" sans-serif;
  margin-left: 10%;
  border-bottom: 1px solid #f84f11;
  width: 80%;
  display: block;
  transition: all 0.3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(248, 79, 17, 0.3);
    border-bottom: 3px solid #8759f6;
    font-weight: 700; }
    .form__input:focus:invalid {
      border-bottom: 3px solid red; }
  .form__input::-webkit-input-placeholder {
    color: #f84f11; }
.form__lebel {
  margin: 0 auto;
  font-size: 0.7rem;
  font-weight: 700;
  margin-right: 52%;
  padding-left: 3px;
  margin-top: 0.6rem;
  display: block;
  transition: all 0.3s;
  color: #192a56; }
  .form__lebel-mail {
    padding-left: 7%; }
.form__input:placeholder-shown + .form__lebel {
  opacity: 1;
  visibility: hidden;
  transform: translateY(-2rem);
  color: #5352ed; }
.form__radio-group {
  width: 48%;
  display: inline-block; }
.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }
.form__radio-button {
  height: 2.5rem;
  width: 2.5rem;
  border: 5px solid #f84f11;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -0.4rem;
  left: 0; }
  .form__radio-button::after {
    content: "";
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f84f11;
    opacity: 0;
    transition: all 0.3; }
.form__radio-input {
  display: none; }
.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0 auto; }
