.cbtn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.2rem 1.8rem;
    display: inline-block;
    border-radius: 8rem;
    transition: all 0.2s;
    position: relative;
    -webkit-box-shadow: 0 5px 2px rgba($primary, 0.5);
    -moz-box-shadow: 0 5px 2px rgba($primary, 0.5);
    box-shadow: 0 5px 3px rgba($primary, 0.5);
    transform: scaleX(0.98) scaleY(0.98) translateY(-0.3rem);

    //change for the <button> element
    border: none;
    cursor: pointer;
  }
  &__icon {
    &-white {
      background-color: $white;
      color: $primary;
      animation: moveInBottom 1s ease-out 0.1s;
      animation-fill-mode: backwards;
      &:hover {
        transform: translateY(-0.3rem) scaleX(1) scaleY(1);

        &::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
        }
      }
    }
  }
  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($primary, 0.3);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  &-primary {
    background-image: linear-gradient(
      to right bottom,
      $primary-light,
      $primary
    );
    color: $white;
    width: 65%;
    font-size: 1rem;
    word-spacing: 2px;
    animation: moveInBottom 1s ease-out 0.1s;
    animation-fill-mode: backwards;

    &::after {
      background-image: linear-gradient(
        to right bottom,
        $primary-light,
        $primary
      );
    }
  }

  &--green {
    background-image: linear-gradient(to right bottom, green, red, yellow);
    color: $white;
    font-size: 1.4rem;
    word-spacing: 2px;
    animation: moveInBottom 1s ease-out 0.1s;
    animation-fill-mode: backwards;

    &::after {
      background-color: $white;
    }
  }
  &:active,
  &:focus {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &-text {
    &:link,
    &:visited {
      color: $primary;
      background-color: $white;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid $primary;
      font-size: 0.8rem;
    }

    &:hover {
      border-bottom: 3px solid $primary;
      box-shadow: 0 1rem 2rem rgba($primary, 0.15);
      transform: translateY(-2px);
    }

    &:active {
      box-shadow: 0 0.5rem 1rem rgba($primary, 0.15);
      transform: translateY(0);
    }
  }
}
.ion-logo {
  font-size: 1.4rem;
  color: $primary;
  text-align: center;
}
