.form {
  &__group:not(:last-child) {
    margin-bottom: 0.7rem;
  }

  &__input {
    font-size: 1rem;
    color: $pico;
    font-weight: 400;
    padding: 0.7rem 2rem;
    background-color: rgba($white, 0.5);
    border: none;
    font-family: "Lato" sans-serif;
    margin-left: 10%;
    border-bottom: 1px solid $primary;
    width: 80%;
    display: block;
    transition: all 0.3s;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($primary, 0.3);
      border-bottom: 3px solid #8759f6;
      font-weight: 700;

      &:invalid {
        border-bottom: 3px solid red;
      }
    }

    &::-webkit-input-placeholder {
      color: $primary;
      font-weight: 400;
      font-size: 700;
    }
  }

  &__lebel {
    margin: 0 auto;
    font-size: 0.9rem;
    font-weight: 700;
    margin-right: 46%;
    padding-left: 3px;
    margin-top: 0.6rem;
    display: block;
    transition: all 0.3s;
    color: $pico;
    &-mail {
      padding-left: 8%;
    }
  }

  &__input:placeholder-shown + &__lebel {
    //~
    opacity: 1;
    visibility: hidden;
    transform: translateY(-2rem);
    color: $primary-light;
  }

  &__radio-group {
    width: 48%;
    display: inline-block;
  }

  &__radio-label {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
  }

  &__radio-button {
    height: 2.5rem;
    width: 2.5rem;
    border: 5px solid $primary;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: -0.4rem;
    left: 0;

    &::after {
      content: "";
      height: 0.7rem;
      width: 0.7rem;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: $primary;
      opacity: 0;
      transition: all 0.3;
    }
  }

  &__radio-input {
    display: none;
  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }
}
