._img-margin {
  margin-right: 0.5rem !important;
  margin-top: 0.5rem !important;
  &:hover {
    transition: all 0.2s;
    opacity: 0.5 !important;
    transform: scale(1.05, 1.05);
    z-index: 1;
  }
}
